<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'MercuryHealthGrp' in resource group 'MercuryHealthGrp' -->
  <InstrumentationKey>e13e8370-49ea-4c79-8c06-5f7fac8c39d1</InstrumentationKey>
</ApplicationInsights>