<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appUrl" value="http://randymercuryhealth-qa.azurewebsites.net/" />

    <!--// PhantomJS is a headless WebKit scriptable witha JavaScript API.-->
    <!--<add key="browserType" value="chrome"/>-->
    <!--<add key="browserType" value="chromeheadless"/>-->
    <!--<add key="browserType" value="firefox"/>-->
    <!--<add key="browserType" value="firefoxheadless"/>-->
    <!--<add key="browserType" value="edge"/>-->
    <!--<add key="browserType" value="ie"/>-->
    <!--<add key="browserType" value="phantomjs"/>-->
    <add key="browserType" value="chromeheadless"/>
  </appSettings>
</configuration>
